#body {
    background: url(./images/Cyber-security_ccexpress.jpeg);
    align-items: center;
    background-attachment: fixed;
    background-position: top;
    background-repeat: no-repeat;
    height: 450px;
    padding-top: -600px;
}