div#card-elements .card {
    height: 600px;
    width: 400px;
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: -270px;
    top: -340px;
    left: -10px;
    border-radius: 10px;
}

div#card-elements .card-title {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    padding: 20px;
}

div#card-elements .background-off {
    background-color: cadetblue;
    height: 590px;
    width: 400px;
    top: 0;
    left: 0;
    border-radius: 10px;
    margin-bottom: -270px;
    overflow: none;
}

div#card-elements .card-elements {
    position: absolute;
    background-color: #222222;
}